body{
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas{
    border: 4px solid white;
    background: #111;
}